 .display_error{ font-size:12px; color:#ff6600; padding:0px 0px 0px 0px; font-weight:bold;}
 
.display_success{ color: green;
    display: inline;
    float: right;
    font-size: 13px;
    margin-top: -30px; }
	
	
.info, .success, .warning, .error, .validation {
border: 0px solid;
margin: 10px 0px;
padding:10px 10px 10px 20px;
background-repeat: no-repeat;
background-position: 10px center;
border-radius:5px;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
border:1px solid #C5D8A5;
/*background-image:url('../images/success.png');*/
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/warning.png');
}
.error {
color: #D8000C;
background-color: #FCD0D0/*FFBABA*/;
border: 1px solid #EDB5B5;
/*background-image: url('../images/error.png');*/
}

.error_bdr{border:#ff0000 1px solid !important; background:#f7cece!important;}